* {
  box-sizing: border-box;
}

body {
  background-color: #8f8d8b;
  color: #fff;
  margin: 0;
}

body a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

body header {
  background-color: rgba(0, 0, 0, 0.788);
  padding: 2%;
}

body header h1 {
  margin: 0;
  padding: 2%;
  width: 100%;
  color: #fff;
  display: flex;
}

body header img {
  width: 10%;
}

body header nav {
  display: flex;
  justify-content: center;
  gap: 5%;
}

body header nav a {
  padding: 2% 1%;
  width: 25%;
  display: flex;
  justify-content: center;
  background-color: #7a7878;
}

body main {
  padding: 2%;
  margin: 2%;
  background-color: rgba(0, 0, 0, 0.521);
}

body main h2 {
  margin: 0;
}

body main img {
  width: 100%;
  padding: 0 25%;
}

@media screen and (max-width: 720px) {
  body main img {
    padding: 0;
  }
}

body footer {
  background-color: #000;
  width: 100%;
  text-align: right;
  padding: 2%;
}

body footer nav {
  display: flex;
  flex-direction: column;
}
